body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .top-content {
    background: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.header .logo {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header ul {
    list-style: none;
    margin: 0px 10px;
    display: flex;
    gap: 20px;
}

li a, .top-content p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.top-content img {
    border-radius: 5px;
    width: 300px;
    height: auto;
    border-radius: 4px;
    border: rgb(187, 169, 7) 5px solid;
}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-content h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.middle-content-images ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.middle-content-images li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-content-images p {
    width: 250px;
    text-align: center;
}

.bottom-content {
    background: #e5e7eb;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom-content .quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    width: 1000px;
    margin: 0;
}

.bottom-content .quote-reference {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 500px;
}











button {
    background: #3882f6;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
}

img {
    width: 250px;
    height: 250px;
    border: #3882f6 solid 5px;
    border-radius: 10px;
}